
.vs/Level-Down-Launcher-2.0/FileContentIndex/544af36c-a1ac-4d02-82d8-1f3c44caabfe.vsidx
.vs/Level-Down-Launcher-2.0/v17/.wsuo
.vs/Level-Down-Launcher-2.0/v17/DocumentLayout.backup.json
.vs/Level-Down-Launcher-2.0/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/Level-Down-Launcher-2.0/FileContentIndex/9229cbc1-fe03-4800-87ae-6c0cad92155a.vsidx
/.vs
