
.vs/Level-Down-Launcher-2.0/FileContentIndex/544af36c-a1ac-4d02-82d8-1f3c44caabfe.vsidx
.vs/Level-Down-Launcher-2.0/v17/.wsuo
.vs/Level-Down-Launcher-2.0/v17/DocumentLayout.backup.json
.vs/Level-Down-Launcher-2.0/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/Level-Down-Launcher-2.0/FileContentIndex/9229cbc1-fe03-4800-87ae-6c0cad92155a.vsidx
/.vs
build/splash_screen/Analysis-00.toc
build/splash_screen/base_library.zip
build/splash_screen/EXE-00.toc
build/splash_screen/Level Down Launcher.pkg
build/splash_screen/localpycs/pyimod01_archive.pyc
build/splash_screen/localpycs/pyimod02_importers.pyc
build/splash_screen/localpycs/pyimod03_ctypes.pyc
build/splash_screen/localpycs/pyimod04_pywin32.pyc
build/splash_screen/localpycs/struct.pyc
build/splash_screen/PKG-00.toc
build/splash_screen/PYZ-00.pyz
build/splash_screen/PYZ-00.toc
build/splash_screen/warn-splash_screen.txt
build/splash_screen/xref-splash_screen.html
dist/Level Down Launcher.exe
splash_screen.spec
dist/Level_Down_Launcher.exe
/build
